body {
    margin: 0;
    padding: 0;
}
    html, body, #root {
        height: 100%;
    }
    
    /* App.css or equivalent */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex: 1;
  }
  
  .footer {
    flex-shrink: 0;
  }
  